---
layout: layouts/home.njk
fa-icon: 'fa-home'
eleventyNavigation:
  key: Home
  order: 1
  url: /#
---
<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
 <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> {{ metadata.title }}.</h1>
  <p>—Purveyor of Well-Crafted Websites Since 2012—</p>
<!--   add image -->
<!--   <img src="{{ 'img/w3images/karl-wasson-img-bw-blk-bg.jpg' | url }}" alt="boy" class="w3-image" width="1108" height="1108"> -->
</header>


<!-- Expertise Section -->
  <div class="w3-content w3-text-grey w3-padding-64" id="expertise">
    <h2 class="w3-text-light-grey">My Expertise</h2>
    <hr style="width:200px" class="w3-opacity">
    <!-- About Section Content-->
    <p class="w3-large">I remember a time before we called our customers <em>users</em>, a time when when we welcomed <em>guests</em>. To turn your guests into loyal customers, I create hospitable websites built for speed and readability.</p>
    <p class="w3-large"> How? I follow the best practices set by Google, A11y, Pingdom, SEMrush, and a bunch of other great organizations.</p>
    <p class="w3-large">Why?  A focus on fundamentals provides an easy and pleasant experience for you and your website’s guests.</p>
    <p class="w3-large">To ensure that you receive the best service, I limit my work to a handful of carefully selected clients. I also partner with the best designers and SEO experts I can find.</p>
    <a href="/#contact" class="w3-text-pink">
      <p class="w3-large w3-padding-16">Get in touch to find out if we have availability. </p>
    </a>
  </div>

  <div class="w3-content w3-text-grey w3-padding-64" id="services">
    <!-- My Services Content-->
    <h2 class="w3-text-light-grey">My Services</h2>
    <hr style="width:200px" class="w3-opacity">

    <p class="w3-large">We build durable, quality websites for individuals and small to medium businesses.</p>
    <p class="w3-wide w3-large w3-text-light-grey">Who benefits from our services?</p>

    <ul class="w3-large">
      <li class="w3-padding-small">You want a fast website.</li>
      <li class="w3-padding-small">You want high quality content.</li>
      <li class="w3-padding-small">You want best SEO practices.</li>
    </ul>
      <!--Web Development Content-->
    <p class="w3-wide w3-large w3-text-light-grey">Website Development</p>
      <p class="w3-padding-small w3-large">A well-designed website is a must. So, we pay close attention to detail, from user accessibility to page speed using a tool called Lighthouse by Google.</p>
      <p class="w3-padding-small w3-large">We assess our sites using Google Lighthouse for three reasons.</p>
      <ol class="w3-large">
        <li class="w3-padding-small">High Lighthouse scores make Google happy.</li>
        <li class="w3-padding-small">Lighthouse Audits make websites more usable for your visitors.</li>
        <li class="w3-padding-small">If Google and your visitors are happy, you will benefit.</li>
      </ol>

    <!--Content Managment Content-->
    <p class="w3-wide w3-large w3-text-light-grey">Content Managment</p>
    <p class="w3-padding-small w3-large">We’re fussy about high-quality content. According to Google, it’s our responsibility as content creators to</p>
    <div class="w3-panel">
      <p class="w3-large w3-text-pink">
        <i>"Provide high-quality content on your pages, especially your homepage. This is the single most important thing to do."</i></p>
        <p><a href="https://support.google.com/webmasters/answer/40349?hl=en" class="w3-text-pink">
        <p class="w3-large w3-padding-16">Source: Google Webmaster Guidlines</p>
      </a></p>
    </div>
    <p class="w3-padding-small w3-large">We take this advice seriously and only put the most relevant information for your audience on your website.</p>


  <!--NOT CURRENTLY USED Stats Block-->
  <!--  <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">11+</span><br>
        Partners
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">55+</span><br>
        Projects Done
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">89+</span><br>
        Happy Clients
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">150+</span><br>
        Meetings
      </div>
    </div> -->


    <!-- Grid for pricing tables -->
    <h3 class="w3-padding-16 w3-text-light-grey">My Price: Website Development</h3>
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half w3-margin-bottom">
        <ul class="w3-ul w3-white w3-center">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Basic</li>
          <li class="w3-padding-16 w3-large">Consultation</li>
          <li class="w3-padding-16 w3-large">Wordpress Starter Theme</li>
          <li class="w3-padding-16 w3-large">1 Page of Content</li>
          <li class="w3-padding-16 w3-large">Website Launch</li>
          <li class="w3-padding-16 w3-large">1-Hour Training Session</li>
          <li class="w3-padding-16 w3-large">90 Days Support</li>
          <li class="w3-padding-16 w3-large">
            <h2>$ 350</h2>
            <span class="w3-opacity">per page</span>
          </li>
          <li class="w3-light-grey w3-padding-24">
            <button class="w3-button w3-white w3-padding-large w3-large w3-hover-black">
              <a href="/#contact" class="w3-text-pink"><p>Contact Me</p></a>
            </button>
          </li>
        </ul>
      </div>

      <div class="w3-half">
        <ul class="w3-ul w3-white w3-center">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Pro</li>
          <li class="w3-padding-16 w3-large">Consultation</li>
          <li class="w3-padding-16 w3-large">Wordpress Theme</li>
          <li class="w3-padding-16 w3-large">5 Pages of Content</li>
          <li class="w3-padding-16 w3-large">Website Launch</li>
          <li class="w3-padding-16 w3-large">1-Hour Training Session</li>
          <li class="w3-padding-16 w3-large">90 Days Support</li>
          <li class="w3-padding-16 w3-large">
            <h2>$ 1,500</h2>
            <span class="w3-opacity">per website</span>
          </li>
          <li class="w3-light-grey w3-padding-24">
            <button class="w3-button w3-white w3-padding-large w3-large w3-hover-black">
              <a href="/#contact" class="w3-text-pink">
                <p>Contact Me</p>
              </a>
            </button>
          </li>
        </ul>
      </div>
    <!-- End Grid/Pricing tables -->
</div>
<!-- End of Services -->
  <button class="w3-button w3-light-grey w3-padding-large w3-large w3-section" onclick="window.open('{{ 'files/Karl Wasson Website Development Service Invoice.pdf' | url}}')">
    <i class="fa fa-download"></i> Download My Price Sheet
  </button>
    <!-- Testimonials -->
    <!--   <h3 class="w3-padding-24 w3-text-light-grey">My Reputation</h3>
    <img src="{{ '/img/w3images/bandmember.jpg' | url}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-margin-right">William O'Connor.</span> Principle at Whip Consultancy.</p>
    <p>Karl is easy to work with.</p><br>

    <img src="{{ '/img/w3images/avatar_g2.jpg' | url }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-margin-right">Nick English.</span> Marketing Guru at Stridewise.com.</p>
    <p>Karl knows how to write.</p> -->
  <!-- End About Section -->
  </div>


<!-- Portfolio Section -->
<!--  <div class="w3-padding-64 w3-content" id="photos">
    <h2 class="w3-text-light-grey">My Work</h2>
    <hr style="width:200px" class="w3-opacity">
 -->
    <!-- Grid for photos -->
<!--    <div class="w3-row-padding" style="margin:0 -16px">

  {#  <div class="w3-half">
    {% for post in collections.photo | head(-8) %}
      {% if loop.index==4 %}
      </div><div class="w3-half">
      {% endif %}
        <a href="{{ post.url | url}}"><img src = "{{ post.data.image | url }}" style="width:100%" > </a>

    {% endfor %} -->

    </div>
#}

<style>
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sit next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
  {% raw %}
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  {% endraw %}

</style>
<!--
<div class="row">
  <div class="column">
   {% for post in collections.photo | head(-8) %}
   {% if loop.index==4 %}
      </div><div class="column">
      {% endif %}

    <a href="{{ post.url | url}}"><img src = "{{ post.data.image | url }}" style="width:100%;margin-bottom:0px" > </a>

  {% endfor %}
  </div>
  </div>
-->


    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>
<!--  <div class="w3-content w3-justify w3-text-grey w3-large w3-padding-64">
<h1>Latest 3 Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
</div>-->
<!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Ho Chi Minh City, Vietnam</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +84 (0) 707372867</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: karl.wasson@gmail.com</p>
    </div><br>
    <p>Lets get in touch. Send me a message:</p>

    <form action="/action_page.php" target="_blank">
      <p><label for="name"> Name:</label><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name" id="name"></p>
      <p><label for="email"> Email:</label><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email" id="email"></p>
      <p><label for="subject"> Subject:</label><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject" id="subject"></p>
      <p><label for="message"> Message:</label><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message" id="message"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  <!-- End Contact Section -->
  </div>
